body{
	margin: 0;
	padding: 0;
	color: #000000;

}

h1{
	color:white;
}

#header{
	background-color: #000033;
	padding: 10px 80px;
	border-bottom: 3px solid #CCCCCC;
	position: relative;
	  top: 5px;
	  left: 5px;
}

#header h1{
	margin: 0;
}

#header h1 a{
	color: white;
	text-decoration: none;
}

#header h1 a:hover{
	background-color: #BBBBBB;
}
#main{
	margin: 0 10px;
	min-height: 650px;
}
#footer{

	text-align: center;
	background-color:#f0f0f0;
	height: 200px;
}
#order{
	
}


#nav{
	margin: 0 10px;
	border-bottom: 3px solid #CCCCCC;
	display: flex;
}
#front{
	display: flex;
	margin:20px 100px;
	justify-content: center;
}
#mypage{
	display: flex;
	margin:20px 100px;
	justify-content: center;
}
#detail{
	justify-content: center;
	display: flex;
	width: 60%;
	height:60%;
}


#sidebar{
    display: flex;
    top: 10px;
    width: 230px;
    height: auto;
  
}
#center{
	margin:0; 
	width: 80%;
	
	}
#pruchase_center{
	margin:0; 
	width: 70%;
	
	}
#right_bar{
	margin:0; 
	width: 10%;
	 
	}

#categories{
	margin-top: 10px;
}

div.product{
	overflow: hidden;
	width: 100%;

}
div.purchase_product{
	width: 100%;

}
div.product_contents{
	height: 350px;
	width: 31%;
	border-bottom: 2px solid #CCCCCC;
	float:left;
	margin: 10px;
	justify-content: center;
	
}

div.purchase_product_contents{
	padding-top:20px;
	height: 220px;
	width: 100%;
	border-bottom: 2px solid #CCCCCC;
	display: flex;
}
div.product_detail{
	width: 30%;
}
ul.product_contents{
	
	width: 100%;
}

input.detail{
	width: 80%;
	color:white;
	background-color: gray;
}

ul.error_list{
	/*border: 1px solid #FF0000;
	background-color: #FFCCCC;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.error_list li{
	color:#FF0000;
}
div.image{
	width: 100%;
	height: 200px;
 display: flex;
  justify-content: center;
  align-items: center;
	
}
div.purchase_image{
	width: 40%;
	height: 200px;
 display: flex;
  justify-content: center;
  align-items: center;
	
}
img.main{
	display: block;
    max-width: 200px;
    max-height: 200px;
    
  
}
img.edit{
	
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin: 10px auto;
    bottom:0;
}
img.detail{
	width: 100%;
	height:auto;
	
	
}
div.detail_image{
	
	height: 60%;
	width: 70%;
	
}

div.stock{
	font-size: 80%;
}
a.soldout{
	color:red;
}

ul.product_detail{
	
}

ul.product_contents li{
 	font-size: 80%;
 	color:grey;
 }

div.pager{
	text-align: center;
}
div.buy{
	text-align: center;
}
div.form{
	margin:20px 10px;
}


p.link{
	margin-left:100px;
}


table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.order th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
table.order td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
 }
 

tr:nth-child(even) {
  background: #d9d9d9;
 }

 li{
 	font-family: 'Source Sans Pro', sans-serif;
 }
 a.product_name{
 	font-size: 120%;
 }

 div.product_detail{
 	margin-left: 30px;
 	width: 40%;
 	font-size: 150%;

 }
 a.discription{
 	font-size: 75%;
 }
 div.product_detail a{
 	font-size: 50%;
 }

ul.search{
	margin-top: 50px;

}
ul.search a{
	font-size: 120%;
}
ul.search li{
	font-size: 90%;
	margin-top:20px;
	margin-bottom:10px;
}


ul.sidebar{
	margin-top: 50px;
 	margin-right: 50px;
}
ul.sidebar li{
	font-size: 90%;
	margin-top:20px;
	margin-bottom:10px;
}

ul.sidebar p{
	font-size: 120%;
}
div.cate{
	margin-top:5px;
	font-size: 70%;
	color:gray;
}


div.orderd{
	margin-bottom: 10px;
	 border: solid 3px #ccc;/*線*/
    border-radius: 10px;/*角の丸み*/
}
div.order td{
	align :right;
}

img.sub{
	display: block;
    max-width: 100px;
    max-height: 100px;
}
div.orderd_image{
	width: 30%;
	height: 100px;
 	display: flex;
  align-items: center;
	
}
div.orderd_product_contents{
	padding-top:20px;
	height: 120px;
	width: 100%;
	border-bottom: 2px solid #CCCCCC;
	display: flex;
	justify-content: center;
}

div.orderd_info{
	margin-left:0px;
}
div.left{
text-align: left;
width: 45%;
height: 60px;
  line-height: 60px;
}

div.right{
text-align: right;
margin-right: 50px;
width: 45%;
height: 60px;
line-height: 60px;
}

