body{
	margin: 0;
	padding: 0;
	color: #000000;

}

h1{
	color:white;
}
a{

}
#header{
	background-color: #000033;
	padding: 20px;
	border-bottom: 3px solid #CCCCCC;
	position: relative;
	  top: 5px;
	  left: 5px;
}

#header h1{
	margin: 0;
}

#header h1 a{
	color: white;
	text-decoration: none;
}

#header h1 a:hover{
	background-color: #BBBBBB;
}
#main{
	margin:0 10px;
}
#footer{
	background-color:#f0f0f0;
	height: 300px;
}
#order{
	
}


#nav{
	margin: 0 10px;
	border-bottom: 3px solid #CCCCCC;
}
#front{
	display: flex;
	margin:20px 10px;
	justify-content: center;
}
#detail{
	justify-content: center;
	display: flex;
	width: 60%;
	height:60%;
}


#sidebar{
    display: flex;
    top: 10px;
    width: 230px;
    height: auto;
  
}
#center{
	margin:0; 
	width: 100%;
	
	}

div.product{
	overflow: hidden;
	width: 100%;

}
ul.product_contents{
	height: 350px;
	width: 30%;
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin: 10px;
	float:left;
}



ul.error_list{
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.error_list li{
	color:#FF0000;
}
div.hoge{
	width: 300px;
	height: 200px;
	position: relative;
}
img.main{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    position: absolute;
    bottom:0;
}
img.detail{
	width: 100%;
	height:auto;
	
	
}
div.detail_image{
	
	height: 60%;
	width: 70%;
	
}

ul.product_detail{
	width: 30%;
}

div.pager{
	text-align: center;
}
div.form{
	margin:20px 10px;
}


p.link{
	margin-left:100px;
}


table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.order th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
table.order td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
 }

tr:nth-child(even) {
  background: #d9d9d9;
 }